@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background: #d1d1d1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 400px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    color: #333;
}

.card h1 {
    font-weight: 500;
    color: #000;

}

.card img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
}

label {
    font-size: 16px;
    display: block;
    width: 200px;
    border: #004AAD;
    background-color: transparent;
    color: #004AAD;
    padding: 12px;
    margin: 10px auto;
    border-radius: 50px;
    transition: 0.2s;
}

label:hover {
    border-color: transparent;
    background-color: #004AAD;
    color: #fff;
}

input {
    display: none;
}   

button {
    font-size: 16px;
    background-color: transparent;
    border-color: transparent;
    display: block;
    width: 200px;
    color: #004AAD;
    padding: 12px;
    margin: 10px auto;
    border-radius: 50px;
    transition: 0.2s;
}

button:hover {
    border-color: transparent;
    background-color: #004AAD;
    color: #fff;
}