@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*   {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .vdoBx {
    position: relative;
    width: 50%;
    height: 100%;
}

section .vdoBx:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg,#e91e63,#03a9f4);
    z-index: 1;
    mix-blend-mode: screen;
}

section .vdoBx video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .contentBx {
    display: flex;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

section .contentBx .form {
    width: 50%;
}

section .contentBx .form h2 {
    color: #004AAD;
    font-size: 1.5em;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}

section .contentBx .form .inputBx {
    margin-bottom: 20px;
}

section .contentBx .form .inputBx span {
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: #000;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}

section .contentBx .form .inputBx input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #004AAD;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000;
    background: transparent;
    border-radius: 5px;
}

section .contentBx .form .inputBx input[placeholder="Username"] {
    color: #000;
    font-weight: 400;
}

section .contentBx .form .inputBx input[placeholder="Password"] {
    color: #000;
    font-weight: 400;
}

section .contentBx .form .inputBx input[type="submit"] {
    background: #004AAD;
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;

}

section .contentBx .form .inputBx input[type="submit"]:hover {
    background: #03045e;
}

section .contentBx .form .remember {
    margin-bottom: 10px;
    color: #000;
    font-weight: 400;
    font-size: 14px;
    border-color: #03045e;
}

.error-alert {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    background: #ff5b00;
    border: 1px solid #ff5b00;
    border-radius: 10px;
}

li, a, button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #caf0f8;
    text-decoration: none;
}
.back-page {
    position: fixed;
    top: 0;
    left: 50%;
    justify-content: start;
}
.back-page i{
    position: relative;
    left: -5%;
}
.back-page button {
    color: #caf0f8;
    border: none;
    width: 120px;
    padding: 9.5px;
    margin: 20px;
    border-radius: 50px;
    background-color: #004AAD;
}
@media (max-width: 768px) {
    section .vdoBx {
        position: absolute;
        width: 100%;
        height: 100%;
    }
    section .contentBx {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }
    section .contentBx .form {
        width: 100%;
        background: rgb(255,255,255 ,0.9);
        padding: 40px;
        margin: 50px;
        border-radius: 20px;
    }
    .back-page {
        position: absolute;
        top: 0px;
        left: 0px;
    }
}

.suscess-alert {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    background: #4BB543;
    border: 1px solid #4BB543;
    border-radius: 5px;
}

.warning-alert {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    color: #ffffff;
    background: #339900;
    border: 1px solid #339900;
    border-radius: 5px;
}